-# .actions#actionBtnArea
-#   =link_to '#' ,class: "dislike" do
-#     %i.fas.fa-times.fa-2x
-#   =link_to '#' ,class: "like" do
-#     %i.fas.fa-heart.fa-2x
.footprints-form
  = form_with model: @footprint, url: user_footprints_path(current_user) do |f|
    = f.hidden_field :visited_id, value: @user.id
    = f.hidden_field :visiter_id, value: current_user.id
    = f.submit "", style: 'display:none', id: "footprint_js"

.usershowPage
  .container
    .header
      .header_logo
        = link_to image_tag("/lovers.png"), users_path

      .header_likes-index
        - if current_user.id == @user.id
          = link_to  likes_user_path do
            %i.fas.fa-heart.fa-2x.faa-shake.animated-hover
            %p いいねした人
          = link_to  got_likes_user_path class:"got-likes" do
            %i.fas.fa-heart.fa-2x.faa-shake.animated-hover
            %p 届いたいいね

          = link_to visiters_user_path  do
            %i.fas.fa-shoe-prints.fa-2x.fa-rotate-270.faa-shake.animated-hover
            %p 足跡

    .userInfo
      .userInfo_img
        = image_tag @user.img_name.url(:thumb)
      .userInfo_name
        = @user.name
        = "#{@user_birthday}歳"
        %span.fas.fa-star
          = "#{@user_rates}点"
      .userInfo_like-size
        %span.fas.fa-heart.fa-1x
        = "#{@reaction_user_ids.size}人がいいねしました！"

      .userInfo_selfIntroduction
        %span.title 自己紹介
        %br
        = @user.self_introduction

      .userInfo__Region
        %span.title 居住地:
        = @user.prefecture.name
      .userInfo__age
        %span.title 誕生日:
        = @user.birthday.strftime("%Y年%-m月%-d日")
      .userInfo__bloodType
        %span.title 血液型:
        = @user.blood_type.name
      .userInfo__height
        %span.title 身長:
        = @user.height.name
      .userInfo__body
        %span.title 体型:
        = @user.body.name
      .userInfo__education
        %span.title 学歴:
        = @user.education.name
      .userInfo__job
        %span.title 職業:
        = @user.job.name
      .userInfo__income
        %span.title 年収:
        = @user.income.name

    .userReview
      %h3.title
        = "#{@user.name}へコメントする"
      %a  ※誹謗・中傷コメントは避けましょう
      = form_with model: [@user, @comment], local: true, id: "comments_form" do |f|
        #star.userReview_form-group.row
          = f.label :rate,'印象', class:'col-md-3 col-form-label'
          = f.hidden_field :rate, id: :review_star
        .userReview_form-group.row
          = f.label :text, 'コメント(任意)', class:'col-md-3 col-form-label'          
          .col-md-9
            =f.text_area :text, class: "form-control", rows: "3",placeholder:'最初の印象をコメントしよう！'
        .userReview_form-group.row
          = f.submit '投稿する', class:"btn btn-success"
        
    - if @comments.present?
      %h3.title 
        レビュー:   
        = "#{@user_rates}点"
        = "(#{@comments.size}件)"
      .contents
        - @comments.each do |comment|
          .content
            .row.comments
              .col-md-2.comments-user
                = link_to user_path(comment.from_user.id) do
                  = image_tag comment.from_user.img_name.url(:thumb),class:"comments__img"

            = comment.from_user.name
            = "#{comment.rate}点"
            = comment.created_at.strftime('%Y/%m/%d %H:%M')
            = comment.text
      
    -else
      %p レビューがありません



        
    -if current_user.id == @user.id
      .userAction
        .userAction_edit.userAction_common
          = link_to content_tag(:i, "", class: 'fas fa-edit fa-2x'), edit_user_registration_path
          %span
            情報を編集
        .userAction_logout.userAction_common
          = link_to content_tag(:i, "", class: 'fas fa-cog fa-2x'), destroy_user_session_path, method: :delete
          %span
            ログアウト


:javascript
  $('#star').raty({
    size     : 36,
    starOff:  '/assets/star-off.png',
    starOn : '/assets/star-on.png',
    starHalf: '/assets/star-half.png',
    scoreName: 'comment[rate]',
    half: true,
  });


  $("#footprint_js").trigger('click')