.usershowPage
  .container
    .header
      .header_logo
        = link_to image_tag("/lovers.png"), users_path

      .header_likes-index
        - if current_user.id == @user.id
          = link_to  likes_user_path do
            %i.fas.fa-heart.fa-2x
            %p いいねした人
          = link_to  got_likes_user_path class:"got-likes" do
            %i.fas.fa-heart.fa-2x
            %p 届いたいいね

    .userInfo
      .userInfo_img
        = image_tag @user.img_name.url(:thumb)
      .userInfo_name
        = @user.name
        = "#{@user_birthday}歳"

      .userInfo_selfIntroduction
        %span.title 自己紹介
        %br
        = @user.self_introduction

      .userInfo__Region
        %span.title 居住地:
        = @user.prefecture.name
      .userInfo__age
        %span.title 誕生日:
        = @user.birthday.strftime("%Y年%-m月%-d日")
      .userInfo__bloodType
        %span.title 血液型:
        = @user.blood_type.name
      .userInfo__height
        %span.title 身長:
        = @user.height.name
      .userInfo__body
        %span.title 体型:
        = @user.body.name
      .userInfo__education
        %span.title 学歴:
        = @user.education.name
      .userInfo__job
        %span.title 職業:
        = @user.job.name
      .userInfo__income
        %span.title 年収:
        = @user.income.name


        
    -if current_user.id == @user.id
      .userAction
        .userAction_edit.userAction_common
          = link_to content_tag(:i, "", class: 'fas fa-edit fa-2x'), edit_user_registration_path
          %span
            情報を編集
        .userAction_logout.userAction_common
          = link_to content_tag(:i, "", class: 'fas fa-cog fa-2x'), destroy_user_session_path, method: :delete
          %span
            ログアウト