!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content:"#{current_user.id if current_user}", name: "current_user_id"}/
    %meta{name:"viewport" ,content:"width=device-width, initial-scale:1"}/
    %title MatchingApp
    = csrf_meta_tags
    = csp_meta_tag
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if flash[:notice]
      .alert.alert-info
        %p= flash[:notice]
    - if flash[:alert]
      .alert.alert-danger
        %p= flash[:alert]
    = yield
